*.tfstate
*.tfstate.*
*.tflock
*.lock.*
.terragrunt-cache
ansible_collections/*
envvars
venv-mdd/
venv*/
ansible_collections/
.virl/
.virlrc
*.pyc
*.retry
*.signed.bin
.cache/
collections/
envvars
config.yaml
labs.yaml